:root {
  --white: #FFFFFF;
  --black: #000000;
}
body {
  background: var(--bg);
  background-repeat: no-repeat;
  height: 100%;
  color: var(--fontColor);
  background-attachment: fixed;
  font-family: "Chakra Petch", sans-serif;
}
div {
  text-align: left;
}
.theme {
  --fontColor: var(--black);
  --bg: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,124,1) 100%);
  text-align: center;
  padding-top: 30px;
}
h1 {
  padding-bottom: 50px;
  font-size: 50pt;
  text-align: center;
  margin-right: 50px;
}
img {
  height: 300px;
  width: auto;
  text-align: right;
}
a {
  padding-right: 2%;
  text-decoration: none;
  text-align: center;
  display:table-column;
}
.center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height:100px;
  width: auto;
 }
 #images {
  text-align: center;
 }

p {
  text-align: left;
  padding-bottom: 20px;
  padding-right: 5%;
  font-size: 16pt;
}
/* Dropdown Button */
.dropbtn {
  background-color: #c82c7d;
  color: white;
  padding: 16px;
  font-size: 16px;
  color: var(--black);
  border: none;
  cursor: pointer;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #a3216b;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  float: left;
  padding-left: 5%;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 5px;
 }
 
 img {
   max-width: 100%;
   max-height:100%;
   text-align:right;
   padding-right: 10%;
 }
 
 .text {
   font-size: 70px;
   text-align:left;
   padding-right:30px;

 }
 .jobline {
  display: grid;
  grid-template-columns: 55% 45%;
  column-gap: 0px;
 }
 
 .title {
   max-width: 55%;
   max-height:100%;
   text-align:left;
 }
 
 .dates {
   font-size: 50px;
   text-align:right;
   align-items: right;
   padding-right:100px;

 }

