:root {
  --white: #FFFFFF;
  --black: #000000;
}
body {
  background: var(--bg);
  color: var(--fontColor);
}
.theme {
  --fontColor: var(--black);
  color: rgb(238,174,202);;
  --bg: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,233,231,1) 100%);
}
h1{
  color: var(--fontColor)
}
p{
  color: var(--fontColor)
}
ul{
  color: var(--fontColor)
}

